language: ruby
rvm:
  - 2.3
  - 2.2
  - 2.1
  - 2.0.0
  - 1.9.3
  - ruby-head
  - rbx-3
matrix:
  allow_failures:
   - rvm: rbx
  fast_finish: true
cache: bundler
before_install:
  - gem update bundler
