language: ruby
rvm:
  - 2.5
  - 2.4
  - 2.3
  - 2.2
  - ruby-head
  - rbx-3
matrix:
  allow_failures:
   - rvm: rbx-3
  fast_finish: true
  include:
    - rvm: 1.8.7
      dist: precise
      env: BUNDLE_GEMFILE=Gemfile.ruby-1.8
cache: bundler
before_install:
  - gem update bundler
