language: ruby
rvm:
  - ruby-head
  - 2.7
  - 2.6
  - 2.5
  - 2.4
  - 2.3
  - 2.2
matrix:
  include:
    - rvm: rbx-4
      dist: trusty
  allow_failures:
   - rvm: rbx-4
   - rvm: rbx-3
   - rvm: ruby-head
  fast_finish: true
cache: bundler
before_install:
  - gem install bundler -v'1.17.3'
